@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ruslan+Display&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Ruslan Display', cursive; 
*/

:root {
  --black: #000;
  --white: #fff;
  --accent-yellow: #f8f200;
  --accent-blue: #52bedc;
  --grey: #777777;
}
/* * {
  border: 1px solid red;
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 34px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.bg {
  background-color: var(--white);
}
.picture {
  background-image: url("../img/img/bg-image1.jpg");

  background-position: center;
  min-height: 1000px;
  width: 100%;
  /* background-size: cover; */
}
.black {
  background-color: var(--black);
  color: var(--white);
}
.yellow {
  background-color: var(--accent-yellow);
}
.picture-black {
  background-color: var(--black);
  color: var(--white);

  background-image: url("../img/img/ps-img.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}
/* GENERAL */
.title-1 {
  font-family: "Ruslan Display", cursive;
  font-size: 62px;
  margin-bottom: 24px;
  margin-top: 70px;
  line-height: normal;
}
.title-2{
  margin-top: 20px;
  margin-bottom: 15px;
font-size: 24px;
color: var(--accent-blue);
line-height: normal;
font-weight: 500;

}
.btn-black {
  width: 272px;
  height: 78px;

  background-color: var(--black);
  color: var(--accent-yellow);
  text-align: center;

  transition: opacity 0.2s ease-in;
}
.btn-black:hover {
  opacity: 0.8;
}
.btn-yellow {
  width: 192px;
  height: 59px;

  margin-bottom: 15px;

  background-color: var(--accent-yellow);
  color: var(--black);
  font-weight: bold;
  text-align: center;

  transition: opacity 0.2s ease-in;
}
.btn-yellow:hover {
  opacity: 0.8;
}
.content__text {
  padding-right: 30%;
}
.content__text strong {
  color: var(--accent-blue);
}

/* HEADER */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header__social-media {
  display: flex;
  column-gap: 40px;
}
.learn-more {
  display: flex;
  flex-direction: column;

  width: 624px;
  height: 443px;
  padding: 0 70px 70px 70px;

  background-image: url("../img/img/learn-more.png");
  margin-left: auto;
  margin-top: 463px;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}
/* IMAGES */
.images {
  margin: 70px 0;

  display: flex;
  flex-direction: row;
  column-gap: 32px;
  row-gap: 32px;

  flex-wrap: wrap;
}

.images-big {
  order: 1;

  position: relative;
  /* width: 100%; */
}
.images-big:after {
  content: "";
  width: 0;
  height: 0;

  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--white);
  border-bottom: 20px solid var(--white);

  position: absolute;
  bottom: 0;
  right: 0;
}
.images-big:before {
  content: "";
  width: 0;
  height: 0;

  border-left: 20px solid var(--white);
  border-top: 20px solid var(--white);
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;

  position: absolute;
  top: 0;
  left: 0;
}
.images-big img {
  width: 100%;
}
.images-small {
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  row-gap: 32px;

  order: 0;
}

.images-small__wrap {
  position: relative;
}
.images-small__wrap:after {
  content: "";
  width: 0;
  height: 0;

  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--white);
  border-bottom: 20px solid var(--white);

  position: absolute;
  bottom: 0;
  right: 0;
}
.images-small__wrap:before {
  content: "";
  width: 0;
  height: 0;

  border-left: 20px solid var(--white);
  border-top: 20px solid var(--white);
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;

  position: absolute;
  top: 0;
  left: 0;
}

.images-small__wrap img {
  width: 100%;
}
/* 3rd SCREEN */
.title {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}
.form-img {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: end;

  margin: 25px 0 70px 0;
}
/* FORM */
.form {
  display: flex;
  flex-direction: column;
  min-width: 460px;
}
.wrapper {
  background: transparent;

  border: none;
  border-bottom: 1px solid var(--grey);

  margin-bottom: 35px;
  padding-bottom: 13px;

  width: 100%;
  height: 35px;
}
::placeholder {
  color: var(--white);
  font-weight: 300;
}
.input-file {
  width: 100%;
  height: 120px;

  margin-bottom: 35px;
  background-image: url("../img/img/input-file.svg");
}
/* CHECKBOX */
.checkbox {
  font-size: 12px;
  font-weight: 300;
}
.checkbox label {
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
}
label input[type="checkbox"] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hiding */
  opacity: 0;
  width: 0;
  height: 0;
}
label span {
  position: absolute;
  /* position to the free space in <label> */
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border: 1px solid var(--grey);
  transition: 0.3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 5px;
  top: 0px;

  width: 8px;
  height: 14px;
  border: solid var(--accent-yellow);
  border-width: 0 3px 3px 0;

  transform: rotate(45deg);
}
label input:checked ~ span:after {
  display: block;
}

/* DEEP-DIVE */
.deep-dive {
  display: flex;
  flex-direction: row;
  column-gap: 40px;

  align-items: center;
  margin-bottom: 55px;
}
.deep-dive__images {
  display: flex;
  row-gap: 26px;
  flex-direction: column;

  min-width: 630px;
}
.deep-dive__icons {
  display: flex;
  flex-direction: row;
  column-gap: 25px;

  justify-content: center;
}
.content__text-type2 {
  padding-right: 0%;
}
.list {
  margin-top: 25px;
}
.list li {
  margin-bottom: 15px;
}
.list li img {
  margin-right: 10px;
}
.btn-black__small {
  width: 194px;
  height: 59px;
  margin-top: 40px;

  font-size: 18px;
  font-weight: 500;
  background-color: var(--black);
  color: var(--accent-yellow);
  text-align: center;

  transition: opacity 0.2s ease-in;
}
.btn-black:hover {
  opacity: 0.8;
}

/* BUY-SECTION */
.bg-img {
  min-width: 50%;
}
.buy-text {
  margin-left: 50%;
  padding-left: 25px;

}
.skip{
  margin-bottom: 50px;
}
.buy__icons{  
  margin-bottom: 70px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  column-gap: 15px;
  row-gap: 50px;

  flex-wrap: wrap;  
  max-width: 320px;

}