@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ruslan+Display&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Ruslan Display', cursive; 
*/

:root {
  --black: #000;
  --white: #fff;
  --accent-yellow: #f8f200;
  --accent-blue: #52bedc;
}
/* * {
  border: 1px solid red;
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--black);
  font-family: "Roboto", sans-serif;
}
.title-1 {
  font-family: "Ruslan Display", cursive;
  font-size: 62px;
  margin-bottom: 24px;
}
.btn-black {
  width: 272px;
  height: 78px;

  background-color: var(--black);
  color: var(--accent-yellow);
  text-align: center;

  transition: opacity 0.2s ease-in;
}
.btn-black:hover {
  opacity: 0.8;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.bg {
  background-image: url("../img/img/bg-image1.jpg");

  background-position: center;
  min-height: 1000px;
  width: 100%;
  /* background-size: cover; */
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header__social-media {
  display: flex;
  column-gap: 40px;
}
.learn-more {
  display: flex;
  flex-direction: column;

  width: 624px;
  height: 443px;
  padding: 70px 70px;

  background-image: url("../img/img/learn-more.png");
  margin-left: auto;
  margin-top: 463px;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}
